<div>
    <table class="items-presenter"
           [class.no-border]="!isEditable">
        <tr class="user-row">
            <td class="empty-column" *ngIf="!value">
                <p>[ ДАННЫЕ УДАЛЕНЫ ]</p>
            </td>
            <td class="user-picture-column" *ngIf="value">
                <a class="value-wrapper" routerLink="/user/{{value.id}}">
                    <img [src]="userPicSrc(value.smallSizeProfilePicture, value.profilePictureFormat)" />
                </a>
            </td>
            <td class="name-column" *ngIf="value">
                <a class="value-wrapper" routerLink="/user/{{value.id}}">
                    <span>{{value.name}}</span>
                    <i class="material-icons">link</i>
                </a>
            </td>
            <td class="selector-buttons-column show-small"
                *ngIf="isEditable">
                <button class="button" (click)="selectClicked()">
                    <i class="material-icons">search</i>
                    <span>{{selectButtonCaption}}</span>
                </button>
                <button class="button selector-delete-button space-before" (click)="clearClicked()"
                        *ngIf="value">
                    <i class="material-icons">clear</i>
                    <div class="selector-tooltip selector-tooltip-left selector-button-tooltip">
                        Сбросить
                    </div>
                </button>
            </td>
        </tr>
    </table>
    <div class="hide-small selector-responsive-buttons"
         *ngIf="isEditable">
        <button class="button" (click)="selectClicked()">
            <i class="material-icons">search</i>
            <span>{{selectButtonCaption}}</span>
        </button>
        <button class="button selector-delete-button space-before" (click)="clearClicked()"
                *ngIf="value">
            <i class="material-icons">clear</i>
            <div class="selector-tooltip selector-tooltip-left selector-button-tooltip">
                Сбросить
            </div>
        </button>
    </div>
</div>