#galBorder {
    border: 3px solid #bc9;
}

#galButtons {
    border-bottom: 2px solid #bc9;
}

.gal-button-left {
    float:left;
    margin:5px 0 5px 5px;
}

.gal-button-right {
    float:right;
    margin:5px 5px 5px 0;
}

#galPictureView {
    position:relative;
}

.navigation-button {
    display: block;
    background-color: white;
    border:none;
    cursor:pointer;
    position:absolute;
    width:64px;
    height:100%;
}

.navigation-button:hover {
    background-color: #ddd;
}

#navLeft {
    left:0;
}

#navRight {
    right:0;
}

#centralPictureArea {
    margin-left:64px;
    margin-right:64px;
}

#centralImageWrapper {
    position:relative;
    height:300px;
}

#centralImage {
    max-height:98%;
    max-width:98%;
}

#divMeta {
    margin-left:20px;
}

#noImageEmptyDiv {
    height:300px;
}

@media only screen and (min-width: 640px) {
    #centralImageWrapper {
        position:relative;
        height:400px;
    }

    #noImageEmptyDiv {
        height:400px;
    }
}

@media only screen and (min-width: 768px) {
    #centralImageWrapper {
        position:relative;
        height:720px;
    }

    #noImageEmptyDiv {
        height:720px;
    }
}