<div id="galBorder">
    <div id="galButtons" class="clearfix" *ngIf="isEditable">
        <button class="button gal-button-left" (click)="inputFile.click()">
            <i class="material-icons">add</i>
            <span>Загрузить изображение</span>
        </button>
        <input type="file" #inputFile style="display:none;" (change)="onFileSelected(inputFile.files)" />
        <button class="button gal-button-left" [disabled]="!canMoveBackward" (click)="moveBackwardClicked()">
            <i class="material-icons">arrow_back</i>
            <span>Передвинуть влево</span>
        </button>
        <button class="button gal-button-left" [disabled]="!canMoveForward" (click)="moveForwardClicked()">
            <span>Передвинуть вправо</span>
            <i class="material-icons">arrow_forward</i>
        </button>
        <button class="button button-danger gal-button-right" [disabled]="!selectedImage" (click)="deleteClicked()">
            <i class="material-icons">delete_forever</i>
            <span>Удалить изображение</span>
        </button>
    </div>
    <div class="gal-miniatures">
        <div *ngFor="let picture of gallery.pictures; let i=index"
             class="gal-miniature-holder" (click)="onMiniatureSelected(picture.smallSizeId)"
             [class.gal-selected]="picture.smallSizeId == selectedImageSmallSizeId"
             [class.gal-last-miniature-holder]="i == gallery.pictures.length-1">
            <img [src]="getPictureUrl(picture.smallSizeId, picture.format)"
                 class="gal-miniature-img centered-both" />
        </div>
        <p class="big-gray-text centered-both" *ngIf="gallery.pictures.length == 0">Нет изображений</p>
    </div>
    <div id="galPictureView">
        <div id="imageWithNavigationArea" *ngIf="selectedImage">
            <button id="navLeftBig" class="navigation-button"
                    [class.hidden]="!canGoBack" (click)="goBackClicked()">
                <img src="/assets/gal-nav-left.png" class="centered-both" />
            </button>
            <div id="centralImageWrapper">
                <a [href]="getPictureUrl(selectedImage.largeSizeId, selectedImage.format)">
                    <img class="centered" [src]="getPictureUrl(selectedImage.mediumSizeId, selectedImage.format)" />
                </a>
            </div>
            <button id="navRightBig" class="navigation-button"
                    [class.hidden]="!canGoNext" (click)="goNextClicked()">
                <img src="/assets/gal-nav-right.png" class="centered-both" />
            </button>
            <div id="smallNavButtonsWrapper">
                <button id="navLeft" class="navigation-button"
                        [class.hidden]="!canGoBack" (click)="goBackClicked()">
                    <img src="/assets/gal-nav-left-small.png" class="centered-both" />
                </button>
                <button id="navRight" class="navigation-button"
                        [class.hidden]="!canGoNext" (click)="goNextClicked()">
                    <img src="/assets/gal-nav-right-small.png" class="centered-both" />
                </button>
            </div>
        </div>
        <div id="noImageEmptyDiv" *ngIf="!selectedImage">
            <p class="big-gray-text centered-both">Изображение не выбрано</p>
        </div>
        <div id="divMeta" *ngIf="selectedImage">
            <div class="form-field">
                <p>Загружено:</p>
                <span>{{selectedImage.dateUploaded | adaptiveDate}} участником <app-user-link [user]="selectedImage.uploadedBy"></app-user-link></span>
            </div>
            <div *ngIf="selectedImage.dateTaken" class="form-field">
                <p>Дата съёмки:</p>
                <span>{{selectedImage.dateTaken | tripsDateTime}}</span>
            </div>
        </div>
    </div>
</div>
