<header>
  Поездочки header
  <button *ngIf="!userName" (click)="onLoginButtonClicked()">Вход</button>
  <a *ngIf="userName" routerLink="/user/{{userId}}">{{userName}}</a>
  <button *ngIf="userName" (click)="onLogoutButtonClicked()">Выход</button>
</header>
<nav>
  <a routerLink="/news" routerLinkActive="active"><div class="tall">НОВОСТИ</div></a>
  <!-- TODO open while develop
  <a routerLink="/trips" routerLinkActive="active"><div class="tall">ПОЕЗДОЧКИ</div></a>
  <a routerLink="/places" routerLinkActive="active"><div class="tall">МЕСТА</div></a>
  <a routerLink="/regions" routerLinkActive="active"><div class="tall">НАПРАВЛЕНИЯ</div></a>
  <a routerLink="/vehicles" routerLinkActive="active"><div class="tall">ТРАНСПОРТНЫЕ СРЕДСТВА</div></a>
  -->
  <a routerLink="/users" routerLinkActive="active"><div class="tall">УЧАСТНИКИ</div></a>
</nav>
<div class="content-presenter">
  <router-outlet></router-outlet>
</div>
<footer>
  footer
</footer>
<app-login-form [(isShown)]="isLoginFormShown"></app-login-form>
<app-message-box></app-message-box>