<header>
  <div class="site-title-wrapper">
    <a routerLink="/">
      <img src="/assets/title.png" class="site-title" alt="Поездочки" />
    </a>
    <p class="site-annotation">{{annotation}}</p>
  </div>
  <div class="login-stuff">
    <button *ngIf="!user" class="button" (click)="onLoginButtonClicked()">
      <i class="material-icons">exit_to_app</i>
      <span>Вход</span>
    </button>
    <div class="hello-user">
      <span *ngIf="user" class="space-after">Привет,</span>
      <app-user-link *ngIf="user" [user]="user" [showProfilePicture]="true" class="space-after"></app-user-link>
      <span *ngIf="user" class="two-spaces-after">!</span>
    </div>
    <button *ngIf="user" class="button" (click)="onLogoutButtonClicked()">
      <i class="material-icons">exit_to_app</i>
      <span>Выход</span>
    </button>
  </div>
</header>
<nav class="clearfix">
  <a routerLink="/news" routerLinkActive="active">Новости</a>

  <a routerLink="/trips" [class.active]="tripActive.isActive || tripsListActive.isActive">Поездочки</a>
  <a style="display:none;" routerLink="/trips" routerLinkActive #tripsListActive="routerLinkActive"></a>
  <a style="display:none;" routerLink="/trip" routerLinkActive #tripActive="routerLinkActive"></a>
  
  <a routerLink="/places" [class.active]="placeActive.isActive || placesListActive.isActive">Места</a>
  <a style="display:none;" routerLink="/places" routerLinkActive #placesListActive="routerLinkActive"></a>
  <a style="display:none;" routerLink="/place" routerLinkActive #placeActive="routerLinkActive"></a>
  <!-- TODO uncomment while develop
  <a routerLink="/regions" routerLinkActive="active">Направления</a>
  <a routerLink="/vehicles" routerLinkActive="active">Транспортные средства</a>
  -->
  <a routerLink="/users" [class.active]="userActive.isActive || usersListActive.isActive">Участники</a>
  <a style="display:none;" routerLink="/users" routerLinkActive #usersListActive="routerLinkActive"></a>
  <a style="display:none;" routerLink="/user" routerLinkActive #userActive="routerLinkActive"></a>
</nav>
<div class="content-presenter">
  <router-outlet></router-outlet>
</div>
<footer>
  <p>© Bn Entertainment, 2020</p>
</footer>
<app-login-form [(isShown)]="isLoginFormShown"></app-login-form>

<!-- common popups -->
<app-from-gallery-picker></app-from-gallery-picker>
<app-place-picker></app-place-picker>
<app-user-picker></app-user-picker>

<app-message-box></app-message-box>