<section>
    <div class="uniter">
        <div>
            <h1 class="allows-float-beside">Поездочки</h1>
            <button class="button up-right-button" *ngIf="isAddButtonVisible" (click)="addButtonClicked()">
                <i class="material-icons">add</i>
                <span>Добавить...</span>
            </button>
            <div>
                <div class="form-field">
                    <label for="tbSearchString">Поиск по названию:</label>
                    <input type="text" id="tbSearchString" [(ngModel)]="searchString" />
                </div>
                <app-expander class="form-field-margin" title="Расширенный поиск" [(isExpanded)]="isAdvancedSearchExpanded">
                    ХУЙ
                </app-expander>
            </div>
            <table class="items-presenter">
                <thead>
                    <th></th>
                    <th class="hide-middle"></th>
                    <th class="show-middle">Дата</th>
                    <th class="name-column show-middle">Название</th>
                    <th class="participants-column show-middle">Участники</th>
                </thead>
                <tr *ngFor="let trip of trips" class="entity-row selectable-row">
                    <td class="entity-picture-column">
                        <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                            <img [src]="getMiniaturePicSrc(trip)" />
                        </a>
                    </td>
                    <td class="general-column hide-middle">
                        <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                            <p *ngIf="trip.date">{{trip.date | tripsDate}}</p>
                            <p class="title">{{trip.title}}</p>
                            <div class="participants clearfix">
                                <app-user-link *ngFor="let user of trip.participants"
                                               [user]="user" [showProfilePicture]="true"></app-user-link>
                            </div>
                        </a>
                    </td>
                    <td class="date-column show-middle">
                        <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                            <p *ngIf="trip.date" class="centered">{{trip.date | tripsDate}}</p>
                        </a>
                    </td>
                    <td class="name-column show-middle">
                        <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                            <p>{{trip.title}}</p>
                        </a>
                    </td>
                    <td class="participants-column show-middle">
                        <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                            <app-user-link *ngFor="let user of trip.participants"
                                           [user]="user" [showProfilePicture]="true"></app-user-link>
                        </a>
                    </td>
                </tr>
            </table>
            <app-loader *ngIf="isListLoaderVisible"></app-loader>
            <button *ngIf="isLoadMoreButtonVisible" class="button button-std form-field-margin-above"
                    (click)="loadMoreButtonClicked()">Загрузить ещё</button>
        </div>
        <div class="fog" *ngIf="isOverallLoaderVisible">
            <app-loader class="centered"></app-loader>
        </div>
    </div>
</section>