<div class="multi-selector-frame">
    <div *ngFor="let option of innerChoices"
         class="multi-selector-option"
         [class.multi-selector-option-editable]="isEditable"
         [style.color]="option.isSelected ? option.choice.colorWhenSelected : option.choice.colorWhenNotSelected"
         [style.background-color]="option.isSelected ? option.choice.backgroundColorWhenSelected : option.choice.backgroundColorWhenNotSelected"
         (click)="onOptionClick(option)">
        <div class="centered clearfix">
            <span *ngIf="option.choice.bigText" class="selector-big-text"
                  [class.space-after]="option.choice.smallText">{{option.choice.bigText}}</span>
            <span *ngIf="option.choice.smallText" class="selector-small-text">{{option.choice.smallText}}</span>
        </div>
    </div>
</div>
