div.multi-selector-frame {
    display:inline-block;
    border-radius:24px;
    margin-left:-1px;
    border: 2px solid #bc9;
    padding: 2px;
}

div.multi-selector-option {
    float:left;
    border-radius:20px;
    height:40px;
    min-width:40px;
    margin:2px;
    padding:0 10px;
}

div.multi-selector-option-editable {
    cursor: pointer;
}

div.multi-selector-option:hover .selector-tooltip {
    display:block;
}