<div>
    <table class="items-presenter" *ngIf="selectedPlaces && (selectedPlaces.length > 0)"
           [class.no-border]="!isEditable">
        <tr *ngFor="let place of selectedPlaces">
            <td class="entity-picture-column">
                <a class="value-wrapper" routerLink="/place/{{place.id}}">
                    <img [src]="getPlaceImgSrc(place)" />
                </a>
            </td>
            <td class="name-column">
                <a class="value-wrapper" routerLink="/place/{{place.id}}">
                    <span>{{getPlaceName(place)}}</span>
                    <i class="material-icons">link</i>
                </a>
            </td>
            <td *ngIf="isEditable" class="delete-button-column">
                <button class="button selector-delete-button" (click)="deleteButtonClicked(place)">
                    <i class="material-icons">clear</i>
                    <div class="selector-tooltip selector-tooltip-left selector-button-tooltip">
                        Удалить
                    </div>
                </button>
            </td>
        </tr>
    </table>
    <button *ngIf="isEditable"
            class="button button-std"
            [class.form-field-margin-above]="selectedPlaces && (selectedPlaces.length > 0)"
            (click)="addButtonClicked()">
        <i class="material-icons">add</i>
        <span>Добавить...</span>
    </button>
</div>
