.xb-holder {
    display:flex;
    align-items: center;
}

.xb-holder > img {
    width:96px;
    object-fit:contain;
    flex-grow:0;
    flex-shrink:0;
    margin-right:10px;
}

.xb-holder > p {
    flex-grow:1;
    vertical-align: middle;
}

