<div *ngIf="isEditable" class="toolbar">
    <div class="group">
        <button id="buttonB" class="button" (click)="bClick()">
            <div>
                <span>B</span>
            </div>
            <div class="selector-tooltip">Полужирный</div>
        </button>
        <button id="buttonI" class="button" (click)="iClick()">
            <div>
                <span>I</span>
            </div>
            <div class="selector-tooltip">Курсив</div>
        </button>
        <button id="buttonU" class="button" (click)="uClick()">
            <div>
                <span>U</span>
            </div>
            <div class="selector-tooltip">Подчёркнутый</div>
        </button>
        <button id="buttonS" class="button" (click)="sClick()">
            <div>
                <span>S</span>
            </div>
            <div class="selector-tooltip">Зачёркнутый</div>
        </button>

        <input type="color" #inputColor style="display:none;" (change)="colorChange(inputColor.value)" />
        <button id="buttonColor" class="button" (click)="inputColor.click()">
            <img src="assets/ae-color-button.png" />
            <div class="selector-tooltip">Цвет</div>
        </button>
        <button id="buttonSize" class="button" (click)="sizeClick()">
            <div>
                <span style="font-size:0.8em">A</span>
                <span>A</span>
                <span style="font-size:1.3em">A</span>
                <div class="selector-tooltip">Размер шрифта</div>
            </div> 
        </button>
    </div>

    <div class="group">
        <button class="button" (click)="h1Click()">
            <div><span>H1</span></div>
            <div class="selector-tooltip">Заголовок 1</div>
        </button>
        <button class="button" (click)="h2Click()">
            <div><span>H2</span></div>
            <div class="selector-tooltip">Заголовок 2</div>
        </button>
        <button id="buttonH3" class="button" (click)="h3Click()">
            <div><span>H3</span></div>
            <div class="selector-tooltip selector-tooltip-left">Заголовок 3</div>
        </button>
    </div>

    <button id="buttonGalPicture" class="button" *ngIf="gallerySelector" (click)="galleryPictureClick()">
        <i class="material-icons">image</i>
        <div class="selector-tooltip">Картинка из галереи</div>
    </button>

    <div class="group">
        <button class="button" (click)="linkClick()">
            <i class="material-icons">link</i>
            <div class="selector-tooltip">Ссылка</div>
        </button>
        <button class="button" (click)="tripClick()">
            <img src="assets/ae-trip-button.png" />
            <div class="selector-tooltip">Поездка</div>
        </button>
        <button class="button" (click)="placeClick()">
            <img src="assets/ae-place-button.png" />
            <div class="selector-tooltip">Место</div>
        </button>
        <button class="button" (click)="vehicleClick()">
            <img src="assets/ae-vehicle-button.png" />
            <div class="selector-tooltip selector-tooltip-left">Транспортное средство</div>
        </button>
        <button id="buttonUser" class="button" (click)="userClick()">
            <img src="assets/ae-user-button.png" />
            <div class="selector-tooltip selector-tooltip-left">Пользователь</div>
        </button>
    </div>

    <div class="group">
        <button class="button">
            <div><span>ТМ</span></div>
            <div class="selector-tooltip enum-button-tooltip">
                <p>Тип места</p>
                <button class="button" (click)="placeKindClick(null)">N/A</button> <br/>
                <button class="button" (click)="placeKindClick(1)">Озеро</button> <br/>
                <button class="button" (click)="placeKindClick(2)">Водохранилище</button> <br/>
                <button class="button" (click)="placeKindClick(3)">Река</button> <br/>
                <button class="button" (click)="placeKindClick(4)">Город</button> <br/>
                <button class="button" (click)="placeKindClick(5)">Руины</button> <br/>
                <button class="button" (click)="placeKindClick(6)">Достопримечательность</button> <br/>
                <button class="button" (click)="placeKindClick(7)">Заброшенное</button> <br/>
            </div>
        </button>
        <button class="button">
            <div><span>Д</span></div>
            <div class="selector-tooltip enum-button-tooltip">
                <p>Доступность</p>
                <button class="button" (click)="placeAccessClick(null)">N/A</button> <br/>
                <button class="button" (click)="placeAccessClick(1)">Асфальт/Грав.</button> <br/>
                <button class="button" (click)="placeAccessClick(2)">Ровная лесная</button> <br/>
                <button class="button" (click)="placeAccessClick(3)">Лужи/Колея</button> <br/>
                <button class="button" (click)="placeAccessClick(4)">На тракторе</button> <br/>
                <button class="button" (click)="placeAccessClick(5)">Нет дороги</button> <br/>
            </div>
        </button>
        <button class="button">
            <div><span>П</span></div>
            <div class="selector-tooltip selector-tooltip-left enum-button-tooltip">
                <p>Популярность</p>
                <button class="button" (click)="placePopClick(null)">N/A</button> <br/>
                <button class="button" (click)="placePopClick(1)">Всегда свободно</button> <br/>
                <button class="button" (click)="placePopClick(2)">Иногда кто-то есть</button> <br/>
                <button class="button" (click)="placePopClick(3)">Часто кто-то есть</button> <br/>
                <button class="button" (click)="placePopClick(4)">Толпы</button> <br/>
            </div>
        </button>
        <button class="button">
            <div><span>КС</span></div>
            <div class="selector-tooltip selector-tooltip-left enum-button-tooltip">
                <p>Количество стоянок</p>
                <button class="button" (click)="placeCapacityClick(null)">N/A</button> <br/>
                <button class="button" (click)="placeCapacityClick(0)">0 Нет</button> <br/>
                <button class="button" (click)="placeCapacityClick(1)">1</button> <br/>
                <button class="button" (click)="placeCapacityClick(2)">2-3</button> <br/>
                <button class="button" (click)="placeCapacityClick(3)">N Более 3</button> <br/>
            </div>
        </button>
    </div>
</div>
<textarea #tbMain *ngIf="isEditable" [(ngModel)]="text"
          class="advanced-editor"></textarea>
<ng-container *ngIf="isEditable">
    <p *ngFor="let warning of warnings" class="error">
        <i class="material-icons">warning</i>
        <span>{{warning}}</span>
    </p>
</ng-container>
<app-advanced-text-displayer [isVisible]="!isEditable" [text]="text" (warningsChange)="warningsChanged($event)"></app-advanced-text-displayer>
