.atd-container img {
    display: block;
    max-width:100%;
    max-height:700px;
}

.atd-container div.image-wrapper {
    max-width:800px;
}

.atd-container div.image-wrapper > a {
    display:inline-block;
}

.atd-container div.selector-wrapper {
    display:inline-block;
    vertical-align:middle;
    padding-bottom:6px;
}
