<app-places-category-selection></app-places-category-selection>
<div class="uniter">
    <section>
        <h1 class="allows-float-beside">Места</h1>
        <button *ngIf="isAddNewPlaceVisible" class="button up-right-button" (click)="onAddNewPlaceClicked()">
            <i class="material-icons">add</i>
            <span>Добавить место</span>
        </button>
        <div style="clear:both;">
            <div class="form-field">
                <label for="tbSearchString">Поиск по имени:</label>
                <input type="text" id="tbSearchString" [(ngModel)]="searchString" />
            </div>
            <app-expander class="form-field-margin" title="Расширенный поиск" [(isExpanded)]="isAdvancedSearchExpanded">
                <div class="form-field" style="margin-bottom:0;">
                    <p>Тип места</p>
                    <app-place-kind-multi-selector [(selectedValues)]="placeKindFilter"></app-place-kind-multi-selector>
                </div>
            </app-expander>
            <div class="form-field">
                <p>Упорядочить</p>
                <app-places-ordering-selector [(value)]="sortingOrder"></app-places-ordering-selector>
            </div>
        </div>
        <table class="items-presenter" *ngIf="places && (places.length > 0)">
            <thead>
                <th></th>
                <th class="name-column show-small">Название</th>
                <th class="show-small">Тип</th>
                <th class="show-small">Дата О.</th>
            </thead>
            <tr *ngFor="let place of places" class="entity-row selectable-row">
                <td class="entity-picture-column">
                    <a class="cell-wrapper" routerLink="/place/{{getPlaceId(place)}}">
                        <img [src]="getPlacePicSrc(place)" />
                    </a>
                </td>
                <td class="general-column hide-small">
                    <a class="cell-wrapper" routerLink="/place/{{getPlaceId(place)}}">
                        <p class="title">{{getPlaceName(place.name)}}</p>
                        <app-place-kind-selector [value]="place.kind" [isEditable]="false"></app-place-kind-selector>
                        <p *ngIf="place.discoveryDate">{{place.discoveryDate | tripsDate}}</p>
                    </a>
                </td>
                <td class="name-column show-small">
                    <a class="cell-wrapper" routerLink="/place/{{getPlaceId(place)}}">
                        <p>{{getPlaceName(place.name)}}</p>
                    </a>
                </td>
                <td class="enum-column show-small">
                    <a class="cell-wrapper" routerLink="/place/{{getPlaceId(place)}}">
                        <app-place-kind-selector class="centered" [value]="place.kind" [isEditable]="false" [isShortView]="true"></app-place-kind-selector>
                    </a>
                </td>
                <td class="date-column show-small">
                    <a class="cell-wrapper" routerLink="/place/{{getPlaceId(place)}}">
                        <p *ngIf="place.discoveryDate" class="centered">{{place.discoveryDate | tripsDate}}</p>
                    </a>
                </td>
            </tr>
        </table>
        <p class="big-gray-text centered wide-margin-up-down"
           *ngIf="(!isPlacesLoaderVisible) && ((!places) || (places.length == 0))">Не найдено</p>
        <button *ngIf="isLoadMorePlacesVisible" class="button form-field-margin-above" (click)="onLoadMorePlacesClicked()">Загрузить ещё</button>
        <app-loader *ngIf="isPlacesLoaderVisible"></app-loader>
    </section>
    <div class="fog" *ngIf="isOverallLoaderVisible"></div>
    <app-loader *ngIf="isOverallLoaderVisible"></app-loader>
</div>
