<div class="uniter">
    <section>
        <h1 class="allows-float-beside">Места</h1>
        <button *ngIf="isAddNewPlaceVisible" class="button up-right-button" (click)="onAddNewPlaceClicked()">Добавить место</button>
        <div>
            <label for="tbSearchString">Поиск по имени:</label>
            <input type="text" id="tbSearchString" [(ngModel)]="searchString" />
        </div>
        <div>
            <p>Упорядочить</p>
            <app-places-ordering-selector [(value)]="sortingOrder"></app-places-ordering-selector>
        </div>
        <table class="items-presenter">
            <tr *ngFor="let place of places">
                <td>
                    <img class="small-item-pic" [src]="getPlacePicSrc(place)" />
                </td>
                <td>
                    <a routerLink="/place/{{place.id}}" class="item-ref">{{getPlaceName(place.name)}}</a>
                </td>
            </tr>
        </table>
        <button *ngIf="isLoadMorePlacesVisible" class="button" (click)="onLoadMorePlacesClicked()">Загрузить ещё</button>
        <app-loader *ngIf="isPlacesLoaderVisible"></app-loader>
    </section>
    <div class="fog" *ngIf="isOverallLoaderVisible"></div>
    <app-loader *ngIf="isOverallLoaderVisible"></app-loader>
</div>
