/* You can add global styles to this file, and also import other style files */

/*======== 1. Predefined Appearance ========*/
* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

body {
    background-color: #bc9;
    padding:0 10px;
}

h1 {
    font-size:24pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

h2 {
    font-size:20pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

h3 {
    font-size:16pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

p {
    margin:0;
}

input[type="text"], input[type="password"], input[type="date"], textarea {
    border: 2px solid #bc9;
}

input[type="text"], input[type="password"], textarea {
    padding-left:3px;
}

input:invalid {
    background-color:#faa;
    border:2px solid red;
}

fieldset {
    border: 2px solid #bc9;
    margin:0;
}

fieldset > legend {
    color: #484;
}

app-checkbox {
    display:inline-block;
}

/*======== 2. Tuned Appearance ========*/

p.preserve-linebreaks {
    white-space: pre-wrap;
}

/* --- items-presenter --- */
table.items-presenter {
    width:100%;
    border-collapse: collapse;
}
table.items-presenter tr {
    border-top: 2px solid #bc9;
    border-bottom: 2px solid #bc9;
}
table.items-presenter tr:hover {
    background-color:#ddd;
}
table.items-presenter a.cell-wrapper {
    display:block;
}

table.items-presenter a.entity-row {
    height:90px;
}
table.items-presenter a.entity-row > img {
    width:100px;
    height:80px;
    margin:5px;
    object-fit:cover;
    border-radius:5px;
}

table.items-presenter td.entity-picture-column {
    width:110px;
}

table.items-presenter td.name-column {
    width:auto;
}

table.items-presenter td.name-column a.cell-wrapper {
    color:black;
    font-weight:bold;
    text-decoration:none;
    padding-left:5px;
}
table.items-presenter td.name-column a.cell-wrapper > p {
    font-size:16pt;
}
table.items-presenter th.name-column {
    text-align: start;
    padding-left:5px;
}

table.items-presenter td.name-column a.entity-row > p {
    position:relative;
    top:30px;
}

table.items-presenter td.enum-column {
    width:80px;
    position:relative;
}
table.items-presenter td.enum-column a.entity-row > * {
    margin-top:25px;
}

table.items-presenter td.date-column {
    width:120px;
}
table.items-presenter td.date-column a.cell-wrapper {
    color:black;
    font-weight:normal;
    text-decoration:none;
    position:relative;
}

table.items-presenter td.date-column a.entity-row > p {
    position:relative;
    top:35px;
}

table.items-presenter th {
    font-size:16pt;
    font-weight:bold;
    color:#484;
}

/* ---  --- */

/* TODO revise! Maybe not needed anymore */
a.item-ref:visited, a.item-ref:link {
    color:#484;
    font-size:16pt;
    font-weight:bold;
    text-decoration:underline;
}
a.item-ref:hover {
    color:#8a7;
}

a.inline-ref:visited, a.inline-ref:link {
    color:#484;
    font-weight:bold;
    text-decoration:underline;
}

a.inline-ref:hover {
    color:#8a7;
}

img.profile-pic {
    width:64px;
    height:64px;
    border-radius:5px;
}

img.small-profile-pic {
    width:32px;
    height:32px;
    border-radius:3px;
}

.button {
    display:inline-block;
    background-color:#484;
    color:white;
    border:none;
    padding:5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-decoration: none;
    cursor:pointer;
}

.button:disabled {
    color:#bc9;
}

.button:hover:enabled {
    background-color:#cda;
    color: black;
}

.button:active:enabled {
    background-color:white;
    color: black;
}

.button > i {
    vertical-align: middle;
    margin-top:-2px;
}
.button > span {
    position:relative;
    top:1px;
    margin-left:3px;
}

.button-std {
    min-width:150px;
}

.button-wide {
    min-width:300px;
}

.button-danger {
    background-color:red;
    color:white;
}

.button-danger:disabled {
    color:#f99;
}

.button-danger:hover:enabled {
    background-color:#f99;
    color:black;
}

.button-danger:active:enabled {
    background-color:white;
    color:black;
}

/* TODO remove, use .error */
.red-text {
    color:red;
}

.error {
    color:red;
}

.advice {
    color:#848;
}

.advice > i, .error > i {
    vertical-align: middle;
}
.advice > span, .error > span {
    position:relative;
    top:1px;
    margin-left:4px;
    font-style: italic;
}

.big-gray-text {
    font-size: 24pt;
    font-weight: bold;
    color:#bbb;
}

.hidden {
    visibility:hidden;
}

/*======== 3. Positioning (common) ========*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-simple {
    position:relative;
}

.margin-above {
    margin-top:20px;
}

.button-margin-above {
    margin-top:5px;
}

.form-field-margin-above {
    margin-top:10px;
}

.form-field-margin {
    margin-bottom:10px;
}

.space-after {
    margin-right:5px;
}

.two-spaces-after {
    margin-right:10px;
}

.centered {
    display:inline-block;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.centered-both {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

div.uniter {
    position:relative;
}
div.uniter > * {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
}
div.uniter > *:first-child {
    position:relative;
}

h1.allows-float-beside, h2.allows-float-beside {
    display:inline-block;
}

button.up-right-button, a.up-right-button {
    float:right;
    margin:5px 5px 5px 0;
}

textarea.description-field {
    width:100%;
    min-height: 100px;
    resize: vertical;
}

/*--- form-field ---*/

div.form-field {
    margin-bottom:10px;
}

div.form-field > label, div.form-field > p:first-child {
    color:#484;
    display:block;
    margin-bottom:2px;
}

div.form-field > input[type="text"],
div.form-field > input[type="password"],
div.form-field > input[type="date"],
div.form-field > textarea {
    width:100%;
}

/*--- ---*/

div.even-buttons-holder {
    display:flex;
}
div.even-buttons-holder > button {
    flex-basis: 100%;
    flex-grow: 1;
    margin-left:10px;
}
div.even-buttons-holder > button:first-child {
    margin-left:0px;
}

/* todo: avoid, prefer specialized */
.flex-container {
    display:flex;
}

/* todo: avoid, prefer specialized */
.flex-items-vcenter {
    align-items: center;
}

/* todo: avoid, prefer specialized */
.fill-parent-horizontally {
    width:0;
    flex-grow:1;
}

/*======== 4. Specialized ========*/

div.fog {
    background-color:rgba(255, 255, 255, 0.5);
}

div.modal-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/* TODO seems it's obsolete. Justify/remove */
.parameter-group {
    margin:5px;
}

/*----- Editors -----*/

div.editor-wrapper {
    position: relative;
}

div.editor-picture-panel {
    margin-bottom:10px;
}

div.editor-picture-panel-narrow {
    margin-bottom:10px;
}

button.button-pic-select {
    width:100%;
    max-width:300px;
    margin-top:5px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

img.title-picture {
    width:100%;
}

@media only screen and (min-width: 768px) {
    div.editor-wrapper {
        position:relative;
        display:flex;
    }
    
    div.editor-picture-panel {
        flex-basis:50%;
        max-width:500px;
        min-width:200px;
        padding-right:10px;
        border-right: 2px solid #bc9;
    }

    div.editor-picture-panel-narrow {
        flex-basis:30%;
        max-width:300px;
        min-width:200px;
        padding-right:10px;
        border-right: 2px solid #bc9;
    }
    
    div.editor-main-panel {
        flex-grow:1;
        margin-left:10px;
    }

    div.editor-main-panel-narrow {
        flex-grow:1;
        margin-left:10px;
        max-width:500px;
    }

    button.button-pic-select {
        width:100%;
        max-width:unset;
        margin-top:5px;
        left:unset;
        transform:unset;
    }

    img.title-picture {
        width:100%;
        object-fit:scale-down;
    }
}

img.profile-editor-pic {
    width:100%;
    max-width:300px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

@media only screen and (min-width: 768px) {
    img.profile-editor-pic {
        width:100%;
        object-fit:scale-down;
        left:unset;
        transform:unset;
    }
}

/*----- Pickers -----*/

div.picker-popup {
    display:flex;
    flex-direction:column;
    background-color:white;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:75%;
    max-height:75%
}

.pickermargin {
    margin:10px;
}

.pickerbutton-right {
    float:right;
    margin:10px 10px 10px 0;
}

/*----- Gallery (shared) -----*/

.gal-miniatures {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 2px solid #bc9;
    min-height:200px;
    position:relative;
}

.gal-miniature-holder {
    display:inline-block;
    height:188px;
    width:188px;
    margin:5px 0 0 5px;
    position:relative;
    border:2px solid #bc9;
    border-radius: 2px;
    background-color:white;
    cursor:pointer;
}

.gal-last-miniature-holder {
    margin-right:5px;
}

.gal-miniature-holder:hover {
    border-color:#484;
}

.gal-miniature-img {
    max-height:180px;
    max-width:180px;
}

.gal-selected {
    border-color:#484;
    background-color: #bc9;
}

/*----- Selectors (shared) -----*/

span.selector-big-text {
    display:block;
    float:left;
    font-size:20pt;
}

span.selector-small-text {
    display:block;
    float:left;
    position:relative;
    top:8px;
    font-size:12pt;
}

.selector-tooltip {
    position:absolute;
    top:35px;
    left:-5px;
    border: 1px solid #bc9;
    color:#484;
    background-color:white;
    white-space: nowrap;
    padding:5px;
    display:none; /* specify when tooltip is shown in specific component's css */
}

/*----- Main page -----*/

nav {
    clear:both;
}

nav>a {
    display:block;
    background-color:#484;
    color:white;
    text-decoration: none;
    float:left;
    padding:10px 10px 13px 10px;
    border-radius:5px 5px 0 0;
    margin-right:5px;
    margin-top:5px;
}

nav > a:visited, nav > a:link {
    background-color:#484;
}

nav > a:hover {
    background-color:#cda;
    color: black;
}

nav > a.active {
    background-color:white;
    color: black;
}

nav > a > div.tall {
    font-size:12pt;
    transform: ScaleY(2);
}

div.content-presenter {
    clear:both;
    background-color:white;
    margin:5px 0 5px 0;
    padding:10px;
}

div.login-stuff {
    float:right;
    margin:10px;
    border-radius:2px;
    background-color:#bc9;
    padding:10px;
}

div.login-form {
    position: fixed;
    right:20px;
    top:20px;
    min-width:300px;
    padding: 20px;
    background: white;
}

header {
    height:120px;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    border-radius:2px;
}

img.site-title {
    max-width:300px;
    margin-top:20px;
    margin-left:40px;
}

p.site-annotation {
    color:white;
    margin-left:120px;
    margin-top:-10px;
}

div.site-title-wrapper {
    float:left;
}



















