/* You can add global styles to this file, and also import other style files */ /* I know I can */

@import "colors.less";

/*==========================================================================================================*/
/*                                        1. PREDEFINED APPEARANCE                                          */
/*==========================================================================================================*/
* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

body {
    background-color: @theme-color-light;
    color: @color-text-on-page;
    padding:0 10px;
}

h1 {
    font-size:24pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

h2 {
    font-size:20pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

h3 {
    font-size:16pt;
    font-weight:bold;
    margin:5px 0 5px 0;
}

p {
    margin:0;
}

input[type="text"], input[type="password"], input[type="date"], input[type="number"], textarea {
    border: 2px solid @theme-color-light;
}

input[type="text"], input[type="password"], textarea {
    padding-left:3px;
}

input:invalid {
    background-color:@color-danger-hover;
    border:2px solid @color-danger;
}

fieldset {
    border: 2px solid @theme-color-light;
    margin:0;
}

fieldset > legend {
    color: @theme-color-dark;
}

app-checkbox {
    display:inline-block;
}

.ol-attribution ul a { /* as: inline-ref */
    color:@theme-color-dark;
    font-weight:bold;
    text-decoration:underline;
}
.ol-attribution ul a:hover { /* as: inline-ref */
    color:@color-dark-text-hover;
}

/*==========================================================================================================*/
/*                                           2. TUNED APPEARANCE                                            */
/*==========================================================================================================*/

p.preserve-linebreaks {
    white-space: pre-wrap;
}

a.inline-ref:visited, a.inline-ref:link {
    color:@theme-color-dark;
    font-weight:bold;
    text-decoration:underline;
}
a.inline-ref:hover {
    color:@color-dark-text-hover;
}

img.small-profile-pic {
    width:32px;
    height:32px;
    border-radius:3px;
}

.button {
    display:inline-block;
    background-color:@theme-color-dark;
    color:@color-text-on-dark;
    border:none;
    padding:5px;
    text-decoration: none;
    cursor:pointer;
}
.button:disabled {
    color:@theme-color-light;
}
.button:hover:enabled, a.button:hover {
    background-color:@color-dark-hover;
    color:@color-text-on-dark-hover;
}
.button:active:enabled {
    background-color:@color-dark-pressed;
    color:@color-text-on-dark-pressed;
}
.button:focus {
    outline:none;
}

.button > i {
    vertical-align: middle;
    margin-top:-2px;
}
.button > span {
    position:relative;
    top:1px;
    margin-left:3px;
}

.button-std {
    min-width:150px;
}

.button-wide {
    min-width:300px;
}

.button-danger {
    background-color:@color-danger;
    color:@color-text-on-danger;
}
.button-danger:disabled {
    color:@color-danger-hover;
}
.button-danger:hover:enabled, a.button-danger:hover {
    background-color:@color-danger-hover;
    color:@color-text-on-danger-hover;
}
.button-danger:active:enabled {
    background-color:@color-danger-pressed;
    color:@color-text-on-danger-pressed;
}

.error {
    color:@color-danger;
}

.advice {
    color:@theme-color-complementary;
}

.advice > i, .error > i {
    vertical-align: middle;
}
.advice > span, .error > span {
    position:relative;
    top:1px;
    margin-left:4px;
    font-style: italic;
}

.big-gray-text {
    font-size: 24pt;
    font-weight: bold;
    color:@color-background-text;
}

.hidden {
    visibility:hidden;
}

/*==========================================================================================================*/
/*                                        3. POSITIONING (GENERAL)                                          */
/*==========================================================================================================*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.margin-above {
    margin-top:20px;
}

.button-margin-above {
    margin-top:5px;
}

.form-field-margin-above {
    margin-top:10px;
}

.form-field-margin {
    margin-bottom:10px;
}

.space-after {
    margin-right:5px;
}

.two-spaces-after {
    margin-right:10px;
}

.space-before {
    margin-left:5px;
}

.wide-margin-up-down {
    margin-top:20px;
    margin-bottom:30px;
}

.centered {
    display:inline-block;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.centered-both {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

div.uniter {
    position:relative;
}
div.uniter > * {
    position:absolute;
    top:0;
    height:100%;
    width:100%;
}
div.uniter > *:first-child {
    position:relative;
}

h1.allows-float-beside, h2.allows-float-beside {
    display:inline-block;
}

button.up-right-button, a.up-right-button {
    float:right;
    margin:5px 0;
}
h1 + button.up-right-button, h1 + a.up-right-button {
    margin-top:10px;
}

div.up-right-buttons {
    float:right;
    margin:5px 0;
}
div.up-right-buttons > * {
    margin-left:5px;
}
h1 + div.up-right-buttons {
    margin-top:10px;
}

textarea.description-field {
    width:100%;
    min-height: 100px;
    resize: vertical;
}

textarea.advanced-editor {
    width:100%;
    min-height: 150px;
    resize: vertical;
}

div.two-columns > div {
    width:50%;
    float:left;
    padding-right:10px;
}
div.two-columns > div:last-child {
    padding-right:unset;
}

/*----------------------------------- Responsive -------------------------------------*/

/* shows up if screen width is more than "small" */
div.show-small {
    display:none;
}

/* hides if screen width is more than "small" */
div.hide-small {
    display:block;
}

@media only screen and (min-width: 600px) {
    div.show-small {
        display:block;
    }

    div.hide-small {
        display:none;
    }
}

/*----------------------------------- items-presenter -------------------------------------*/
/*----- Fundamental -----*/
table.items-presenter {
    width:100%;
    border-collapse: collapse;
}
table.items-presenter tr {
    border-top: 2px solid @theme-color-light;
    border-bottom: 2px solid @theme-color-light;
}
table.items-presenter.no-border tr {
    border-top: none;
    border-bottom: none;
}
table.items-presenter td {
    padding: 0px;
}
table.items-presenter th {
    font-size:16pt;
    font-weight:bold;
    color:@theme-color-dark;
    padding-bottom:10px;
}

table.items-presenter a.cell-wrapper {
    display:block;
    position:relative;
}

/*----- Rows (set height and useful stuff) -----*/
/* Setup row's height. Row can be either "entity" or "user" */
table.items-presenter tr.entity-row a.cell-wrapper {
    min-height:90px;
}
table.items-presenter tr.user-row a.cell-wrapper {
    height:74px;
}

/* Setup row's behavior. Behaviors can be combined. */
table.items-presenter tr.selectable-row {
    cursor:pointer;
}
table.items-presenter tr.selectable-row:hover {
    background-color:@color-page-hover;
}

/* Also we have tr.picker-row,   
definitions not here */

/*----- Columns (set width and other useful staff) -----*/
table.items-presenter td.entity-picture-column {
    width:100px; /* less than can be needed in some cases */
    line-height:0%; /* Otherwise rows are ALWAYS taller than needed */
}
table.items-presenter td.entity-picture-column img {
    width:100px;
    height:80px;
    object-fit:cover;
    border-radius:5px;
}
table.items-presenter td.entity-picture-column a.cell-wrapper > img,
table.items-presenter td.entity-picture-column > img {
    margin:5px 5px 5px 0;
}
table.items-presenter td.entity-picture-column a.value-wrapper {
    display:inline-block;
    margin:5px 0;
}

table.items-presenter td.user-picture-column {
    width:64px; /* that's less than needed, but that's on purpose */
    line-height:0%; /* Otherwise rows taller than needed in selectors/pickers (when cellwrapper is used - works fine) */
}
table.items-presenter td.user-picture-column img {
    width:64px;
    height:64px;
    border-radius:5px;
}
table.items-presenter td.user-picture-column a.cell-wrapper > img,
table.items-presenter td.user-picture-column > img {
    margin:5px 5px 5px 0;
}
table.items-presenter td.user-picture-column a.value-wrapper {
    display:inline-block;
    margin:5px 0;
}

/* general-column: designed to contain all info in one cell (for responsive mode) */
table.items-presenter td.general-column {
    width:auto;
}
table.items-presenter td.general-column a.cell-wrapper {
    color:@color-text-on-page;
    text-decoration:none;
    padding-left:5px;
}
table.items-presenter td.general-column a.cell-wrapper > * {
    margin-bottom: 5px;
}
table.items-presenter td.general-column p.title {
    font-weight:bold;
    font-size:16pt;
}
table.items-presenter td.general-column div.participants {
    margin-bottom: 0px;
}
table.items-presenter td.general-column div.participants > * {
    margin:5px 5px 5px 0;
    display:block;
    float:left;
}

/* empty-column: for selectors, to hold something when value is empty*/
table.items-presenter tr.user-row td.empty-column {
    height: 76px;
    width: auto;
}

table.items-presenter td.name-column {
    width:auto;
    font-weight:bold; /* for selectors and pickers */
}
table.items-presenter td.name-column a.cell-wrapper {
    color:@color-text-on-page;
    font-weight:bold; /* for lists, since <a> overrides everything */
    text-decoration:none;
    padding-left:5px;
}
table.items-presenter td.name-column a.cell-wrapper > p {
    font-size:16pt;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
table.items-presenter th.name-column {
    text-align: start;
    padding-left:5px;
}

/* if no cellwrapper is used: picker-row */
table.items-presenter tr.picker-row td.name-column span {
    font-size:16pt;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    top:-3px;
}
table.items-presenter tr.picker-row td.name-column a {
    position:relative;
    top:3px;
}

/* if no cellwrapper is used: value-wrapper */
table.items-presenter td.name-column a.value-wrapper {
    text-decoration:none;
    padding-left:10px;
    position:relative;
    top:-3px;
}
table.items-presenter td.name-column a.value-wrapper span {
    color:@color-text-on-page;
    font-size:16pt;
    position:relative;
}
table.items-presenter td.name-column a.value-wrapper i.material-icons {
    margin-left:5px;
    position:relative;
    top:6px;
    color:@theme-color-dark;
}
table.items-presenter td.name-column a.value-wrapper i.material-icons:hover {
    color:@color-dark-text-hover;
}


table.items-presenter td.enum-column {
    width:80px;
    position:relative;
}
table.items-presenter tr.entity-row td.enum-column a.cell-wrapper > * {
    margin-top:25px;
}

table.items-presenter td.date-column {
    width:120px;
}
table.items-presenter td.date-column a.cell-wrapper {
    color:@color-text-on-page;
    font-weight:normal;
    text-decoration:none;
    position:relative;
}
table.items-presenter tr.entity-row td.date-column a.cell-wrapper > p {
    position:relative;
    top:35px;
}
/* if no cellwrapper is used: picker-row */
table.items-presenter tr.picker-row td.date-column > p {
    position:relative;
    top:-1px;
}

table.items-presenter td.users-column,
table.items-presenter th.users-column {
    width:200px;
}
table.items-presenter th.users-column {
    text-align: start;
    padding-left:5px;
}
table.items-presenter td.users-column a.cell-wrapper {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:4px; /* user-links are not perfectly vertical-aligned; correction */
}
table.items-presenter td.users-column div.participants > * {
    display:block;
    float:left;
    margin:5px;
}

table.items-presenter td.selector-buttons-column {
    width:160px;
    text-align: right;
}

table.items-presenter td.delete-button-column {
    width:34px;
    text-align: right;
}

/*----- Responsive -----*/
/* shows up if screen width is more than "middle" */
table.items-presenter td.show-middle,
table.items-presenter th.show-middle {
    display:none;
}

/* hides if screen width is more than "middle" */
table.items-presenter td.hide-middle,
table.items-presenter th.hide-middle {
    display:table-cell;
}

@media only screen and (min-width: 768px) {
    table.items-presenter td.show-middle,
    table.items-presenter th.show-middle {
        display:table-cell;
    }

    table.items-presenter td.hide-middle,
    table.items-presenter th.hide-middle {
        display:none;
    }
}

/* shows up if screen width is more than "small" */
table.items-presenter td.show-small,
table.items-presenter th.show-small {
    display:none;
}

/* hides if screen width is more than "small" */
table.items-presenter td.hide-small,
table.items-presenter th.hide-small {
    display:table-cell;
}

@media only screen and (min-width: 600px) {
    table.items-presenter td.show-small,
    table.items-presenter th.show-small {
        display:table-cell;
    }

    table.items-presenter td.hide-small,
    table.items-presenter th.hide-small {
        display:none;
    }
}

/*----------------------------------- form-field -------------------------------------*/

div.form-field {
    margin-bottom:10px;
}

div.form-field > label, div.form-field > p:first-child {
    color:@theme-color-dark;
    display:block;
    margin-bottom:2px;
}
div.form-field > h3 {
    color:@theme-color-dark;
    margin-bottom:2px;
}

div.form-field > input[type="text"],
div.form-field > input[type="password"],
div.form-field > input[type="date"],
div.form-field > input[type="number"],
div.form-field > textarea {
    width:100%;
}

div.form-field > .field-with-button {
    display: flex;
    flex-direction: row;
}
div.form-field > .field-with-button > input {
    flex-grow: 1;
}
div.form-field > .field-with-button > button {
    margin-left: 5px;
}

/*---------------------------------- even-buttons-holder --------------------------------------*/

div.even-buttons-holder {
    display:flex;
}
div.even-buttons-holder > button {
    flex-basis: 100%;
    flex-grow: 1;
    margin-left:10px;
}
div.even-buttons-holder > button:first-child {
    margin-left:0px;
}

/* todo: avoid, prefer specialized */
.flex-container {
    display:flex;
}

/* todo: avoid, prefer specialized */
.flex-items-vcenter {
    align-items: center;
}

/* todo: avoid, prefer specialized */
.fill-parent-horizontally {
    width:0;
    flex-grow:1;
}

/*==========================================================================================================*/
/*                                            4. SPECIALIZED                                                */
/*==========================================================================================================*/

div.fog {
    background-color:rgba(255, 255, 255, 0.5);
}

div.modal-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10; /* because Advanced Editor owner's z-index interferes with popups (don't understand why) */
}

div.sub-entities-list {
    max-height:800px;
    overflow-y:auto;
}

/*----------------------------------- Editors -------------------------------------*/

div.editor-wrapper {
    position: relative;
}

div.editor-picture-panel {
    margin-bottom:10px;
}

div.editor-picture-panel-narrow {
    margin-bottom:10px;
}

div.editor-main-panel {
    z-index:1; /* for Advanced Editor popups */
}

button.button-pic-select {
    width:100%;
    max-width:300px;
    margin-top:5px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

img.title-picture {
    width:100%;
}

@media only screen and (min-width: 768px) {
    div.editor-wrapper {
        position:relative;
        display:flex;
    }
    
    div.editor-picture-panel {
        flex-basis:50%;
        flex-shrink:0;
        max-width:500px;
        min-width:200px;
        padding-right:10px;
        border-right: 2px solid @theme-color-light;
    }

    div.editor-picture-panel-narrow {
        flex-basis:30%;
        flex-shrink:0;
        max-width:300px;
        min-width:200px;
        padding-right:10px;
        border-right: 2px solid @theme-color-light;
    }
    
    div.editor-main-panel {
        flex-grow:1;
        margin-left:10px;
    }

    div.editor-main-panel-narrow {
        flex-grow:1;
        margin-left:10px;
        max-width:500px;
    }

    button.button-pic-select {
        width:100%;
        max-width:unset;
        margin-top:5px;
        left:unset;
        transform:unset;
    }

    img.title-picture {
        width:100%;
        object-fit:scale-down;
    }
}

img.profile-editor-pic {
    width:100%;
    max-width:300px;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
@media only screen and (min-width: 768px) {
    img.profile-editor-pic {
        object-fit:scale-down;
        left:unset;
        transform:unset;
    }
}

/*----------------------------------- Pickers -------------------------------------*/

div.picker-popup {
    display:flex;
    flex-direction:column;
    background-color:@color-page;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:95%;
    max-height:75%
}
@media only screen and (min-width: 768px) {
    div.picker-popup {
        max-width:75%;
    }    
}


div.picker-popup-fixed-height {
    height:75%;
}

.pickermargin {
    margin:10px;
}

.pickerbutton-right {
    float:right;
    margin:10px 10px 10px 0;
}

div.picker-table-holder {
    flex-grow:1;
    overflow-y:auto;
    margin: 10px;
    position: relative;
}

/*----------------------------------- Gallery (shared) -------------------------------------*/

.gal-miniatures {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 2px solid @theme-color-light;
    min-height:200px;
    position:relative;
}

.gal-miniature-holder {
    display:inline-block;
    height:188px;
    width:188px;
    margin:5px 0 0 5px;
    position:relative;
    border:2px solid @theme-color-light;
    background-color:@color-page;
    cursor:pointer;
}

.gal-last-miniature-holder {
    margin-right:5px;
}

.gal-miniature-holder:hover {
    background-color:@color-page-hover;
}

.gal-miniature-img {
    max-height:180px;
    max-width:180px;
}

.gal-selected,
.gal-selected:hover {
    border-color:@theme-color-dark;
    background-color: @theme-color-light;
}

/*----------------------------------- Selectors (shared) -------------------------------------*/

span.selector-big-text {
    display:block;
    float:left;
    font-size:20pt;
}

span.selector-small-text {
    display:block;
    float:left;
    position:relative;
    top:8px;
    font-size:12pt;
}

.selector-tooltip {
    position:absolute;
    top:35px;
    left:-5px;
    border: 1px solid @theme-color-light;
    color:@theme-color-dark;
    background-color:@color-tooltip-background;
    white-space: nowrap;
    padding:5px;
    display:none; /* specify when tooltip is shown in specific component's css */
}

.selector-tooltip-left {
    left: unset;
    right: 5px;
}

.selector-button-tooltip {
    top: 33px;
}

button.selector-delete-button {
    position: relative;
}

.selector-delete-button:hover .selector-tooltip {
    display:block;
}

div.selector-responsive-buttons {
    margin-top:5px;
    text-align:right;
}

/*----------------------------------- Main page -------------------------------------*/

nav {
    clear:both;
    margin-bottom: 5px;
}

nav>a {
    display:block;
    background-color:@theme-color-dark;
    color:@color-text-on-dark;
    text-decoration: none;
    text-transform: uppercase;
    float:left;
    padding:8px 8px 10px 8px;
    margin: 5px 5px 0 0;
}

@media only screen and (min-width: 680px) {
    nav {
        margin-bottom: 0px;
    }

    /*nav>a {
        border-radius:5px 5px 0 0;
    } */  
}

nav > a:hover {
    background-color:@color-dark-hover;
    color: black;
}
nav > a.active {
    background-color:@color-page;
    color: black;
    outline:none;
}
nav > a:focus {
    outline:none;
}

div.content-presenter {
    clear:both;
    background-color:@color-page;
    margin-bottom: 5px;
    padding:10px;
}

div.login-stuff {
    float:right;
    margin:10px;
    background-color:@theme-color-light;
    padding:10px;
}

div.login-form {
    position: fixed;
    right:20px;
    top:20px;
    min-width:300px;
    padding: 20px;
    background: @color-page;
}

header {
    height:120px;
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

img.site-title {
    max-width:300px;
    margin-top:20px;
    margin-left:40px;
}

p.site-annotation {
    color:@color-text-on-dark;
    margin-left:120px;
    margin-top:-10px;
}

div.site-title-wrapper {
    float:left;
}



















