<section *ngIf="user">
    <h2>Профиль участника: {{user.name}}</h2>
    <div class="uniter">
        <div>
            <div class="editor-wrapper">
                <div class="editor-picture-panel-narrow">
                    <img *ngIf="!isPictureLoaderVisible" [src]="imgSrc" [alt]="imgAlt" class="profile-editor-pic" />
                    <app-loader *ngIf="isPictureLoaderVisible"></app-loader>
                    <br />
                    <input type="file" placeholder="select file" #selectFileButton (change)="onPictureFileSelected(selectFileButton.files)" style="display:none;" />
                    <button *ngIf="isChangeProfilePicButtonVisible" class="button button-pic-select" (click)="selectFileButton.click()">
                        <i *ngIf="user.profilePicture" class="material-icons">folder_open</i>
                        <i *ngIf="!user.profilePicture" class="material-icons">file_upload</i>
                        <span>{{changeProfilePicButtonCaption}}</span>
                    </button>
                    <br />
                    <button *ngIf="isResetProfilePicButtonVisible" class="button button-pic-select" (click)="resetProfilePic()">
                        <i class="material-icons">delete_forever</i>
                        <span>Удалить аватар</span>
                    </button>
                </div>
                <div class="editor-main-panel-narrow">
                    <div class="form-field">
                        <p>Зарегистрирован:</p>
                        <p>{{user.registeredDate | adaptiveDate}}</p>
                    </div>
                    <div *ngIf="canChangeLogin && !isChangeLoginExpanded" class="button-margin-above">
                        <button class="button button-wide" (click)="onExpandChangeLoginClicked()">Поменять логин</button>
                    </div>
                    <fieldset *ngIf="isChangeLoginExpanded" class="form-field-margin">
                        <legend>Изменение логина</legend>
                        <div class="form-field">
                            <label for="txtNewLogin">Новый логин:</label>
                            <input type="text" id="txtNewLogin" [(ngModel)]="newLogin"
                                   required="required" />
                        </div>
                        <p class="error" *ngIf="isLoginAlreadyExistsVisible">
                            <i class="material-icons">cancel</i>
                            <span>Пользователь с данным именем уже существует. Попробуйте другое.</span>
                        </p>
                        <p class="advice">
                            <i class="material-icons">warning</i>
                            <span>Внимание: изменять логин можно не чаще чем один раз в неделю. Выбирайте ответственно.</span>
                        </p>
                        <div class="even-buttons-holder margin-above">
                            <button class="button" (click)="onDoChangeLoginClicked()">Поменять логин</button>
                            <button class="button" (click)="onCancelChangeLoginClicked()">Отмена</button>
                        </div>
                    </fieldset>
                    <div *ngIf="canChangePassword && !isChangePasswordExpanded" class="button-margin-above">
                        <button class="button button-wide" (click)="onExpandChangePasswordClicked()">
                            <i class="material-icons">vpn_key</i>
                            <span>Поменять пароль</span>
                        </button>
                    </div>
                    <fieldset *ngIf="isChangePasswordExpanded" class="form-field-margin">
                        <legend>Изменение пароля</legend>
                        <p class="advice">
                            <i class="material-icons">info</i>
                            <span>В целях безопастности для этого потребуется ваш текущий пароль ввести ещё раз.</span>
                        </p>
                        <div class="form-field form-field-margin-above">
                            <label for="pwCurrentPassword">Текущий пароль</label>
                            <input type="password" id="pwCurrentPassword" [(ngModel)]="currentPassword" />
                        </div>
                        <div class="form-field form-field-margin-above">
                            <label for="pwNewPassword">Новый пароль</label>
                            <input type="password" id="pwNewPassword" [(ngModel)]="newPassword" />
                        </div>
                        <div class="form-field form-field-margin-above">
                            <label for="pwNewPassword2">Подтверждение нового пароля</label>
                            <input type="password" id="pwNewPassword2" [(ngModel)]="newPassword2" />
                        </div>
                        <div class="even-buttons-holder margin-above">
                            <button class="button" (click)="onDoChangePasswordClicked()">Поменять пароль</button>
                            <button class="button" (click)="onCancelChangePasswordClicked()">Отмена</button>
                        </div>
                    </fieldset>
                    <div *ngIf="canSeeIsAdmin" class="form-field-margin-above">
                        <app-checkbox [(value)]="user.isAdmin" [isEnabled]="canSetIsAdmin"
                                      (valueChange)="onIsAdminCheckboxChanged()">Администратор</app-checkbox>
                    </div>
                    <fieldset *ngIf="canSeePrivileges" class="form-field-margin form-field-margin-above">
                        <legend>Может редактировать:</legend>
                        <div>
                            <app-checkbox [isEnabled]="canEditPrivileges" [(value)]="user.canPublishNews"
                                          (valueChange)="onPrivilegeCheckboxChanged()">Новости</app-checkbox>
                        </div>
                        <div>
                            <app-checkbox [isEnabled]="canEditPrivileges" [(value)]="user.canPublishTrips"
                                          (valueChange)="onPrivilegeCheckboxChanged()">Поездочки</app-checkbox>
                        </div>
                        <div>
                            <app-checkbox [isEnabled]="canEditPrivileges" [(value)]="user.canEditGeography"
                                          (valueChange)="onPrivilegeCheckboxChanged()">Места и регионы</app-checkbox>
                        </div>
                    </fieldset>
                    <div *ngIf="canResetPassword && !isResetPasswordExpanded" class="button-margin-above">
                        <button class="button button-wide" (click)="onExpandResetPasswordClicked()">
                            <i class="material-icons">vpn_key</i>
                            <span>Сброс пароля</span>
                        </button>
                    </div>
                    <fieldset *ngIf="isResetPasswordExpanded" class="form-field-margin">
                        <legend>Сброс пароля</legend>
                        <div class="form-field">
                            <label for="pwNewPasswordForReset">Новый пароль</label>
                            <input type="password" id="pwNewPasswordForReset" [(ngModel)]="passwordForReset" />
                        </div>
                        <div class="even-buttons-holder margin-above">
                            <button class="button" (click)="onDoResetPasswordClicked()">Установить пароль</button>
                            <button class="button" (click)="onCancelResetPasswordClicked()">Отмена</button>
                        </div>
                    </fieldset>
                    <div *ngIf="canDeleteUser" class="button-margin-above">
                        <button class="button button-wide button-danger" (click)="onDeleteUserClicked()">
                            <i class="material-icons">delete_forever</i>
                            <span>Удолить участника</span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <app-expander *ngIf="isTripsOfUserVisible" title="Поездочки с данным участником"
                          (isExpandedChange)="onTripsOfUserExpandedChanged($event)">
                <div class="sub-entities-list">
                    <table class="items-presenter" *ngIf="tripsOfUser && (tripsOfUser.length > 0)">
                        <tr *ngFor="let trip of tripsOfUser" class="entity-row selectable-row">
                            <td class="entity-picture-column">
                                <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                    <img [src]="getTripImgSrc(trip)" />
                                </a>
                            </td>
                            <td class="general-column hide-small">
                                <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                    <p *ngIf="trip.date">{{trip.date | tripsDate}}</p>
                                    <p class="title">{{getTripTitle(trip)}}</p>
                                </a>
                            </td>
                            <td class="date-column show-small">
                                <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                    <p *ngIf="trip.date" class="centered">{{trip.date | tripsDate}}</p>
                                </a>
                            </td>
                            <td class="name-column show-small">
                                <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                    <p>{{getTripTitle(trip)}}</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <app-loader *ngIf="isTripsLoaderVisible"></app-loader>
                    <button *ngIf="isLoadMoreTripsVisible" class="button form-field-margin-above"
                            (click)="onLoadMoreTripsClicked()">Загрузить ещё</button>
                </div>
            </app-expander>
        </div>
        <div *ngIf="isOverallLoaderVisible" class="fog"></div>
        <div *ngIf="isOverallLoaderVisible">
            <app-loader class="centered-both"></app-loader>
        </div>
    </div>
</section>
<app-page404 *ngIf="notFound"></app-page404>
<app-loader *ngIf="(!user) && (!notFound)"></app-loader>

