<section>
    <h1 class="allows-float-beside">Участники</h1>
    <a routerLink="/users/create" class="button up-right-button">
        <i class="material-icons">person_add</i>
        <span>Добавить участника</span>
    </a>
    <table *ngIf="users" class="items-presenter form-field-margin-above">
        <tr *ngFor="let user of users" class="user-row">
            <td class="user-picture-column">
                <a class="cell-wrapper" routerLink="/user/{{user.id}}">
                    <img [src]="userPicSrc(user.smallSizeProfilePicture, user.profilePictureFormat)" />
                </a>
            </td>
            <td class="name-column">
                <a class="cell-wrapper" routerLink="/user/{{user.id}}">
                    <p>{{user.name}}</p>
                </a>
            </td>
        </tr>
    </table>
    <app-loader *ngIf="isLoaderVisible"></app-loader>
</section>
