<div class="uniter">
    <section *ngIf="vehicle">
        <div class="clearfix">
            <h2 class="allows-float-beside">{{vehicleName}}</h2>
            <div class="up-right-buttons">
                <button class="button" *ngIf="isEditButtonVisible && (!isEditMode)" (click)="editButtonClicked()">
                    <i class="material-icons">edit</i>
                    <span>Редактировать</span>
                </button>
                <button class="button" *ngIf="isEditMode" (click)="endEditButtonClicked()">
                    <i class="material-icons">subject</i>
                    <span>Режим просмотра</span>
                </button>
                <button class="button button-danger" *ngIf="isEditMode" (click)="deleteButtonClicked()">
                    <i class="material-icons">delete_forever</i>
                    <span>Удалить</span>
                </button>
            </div>
        </div>
        <div class="editor-wrapper">
            <div class="editor-picture-panel">
                <img class="title-picture centered" [src]="titlePictureImgSrc" />
                <button *ngIf="isSelectTitlePicButtonVisible" class="button button-pic-select"
                        (click)="setTitlePicButtonClicked()">
                    <i class="material-icons">search</i>
                    <span>Выбрать заглавную картинку...</span>
                </button>
                <p *ngIf="isSelectTitlePicAdviceVisible" class="advice">
                    <i class="material-icons">info</i>
                    <span>Добавьте изображения в галерею, чтобы установить заглавную картинку</span>
                </p>
                <br *ngIf="isResetTitlePicButtonVisible" />
                <button *ngIf="isResetTitlePicButtonVisible" class="button button-pic-select"
                        (click)="resetTitlePicButtonClicked()">
                    <i class="material-icons">clear</i>
                    <span>Сбросить картинку</span>
                </button>
            </div>
            <div class="editor-main-panel">
                <div class="form-field">
                    <p>Владелец:</p>
                    <app-user-selector [value]="vehicle.owner"
                                       (valueChange)="setOwner($event)"
                                       [isEditable]="isOwnerEditable"></app-user-selector>
                </div>

                <div class="form-field" *ngIf="isEditMode">
                    <label for="tbName">Название:</label>
                    <input type="text" id="tbName" #tbName
                           [value]="vehicle.name"
                           (blur)="setName(tbName.value)"
                           (keyup.enter)="setName(tbName.value)" />
                </div>

                <div class="form-field" *ngIf="!isEditMode">
                    <p>Марка/Модель:</p>
                    <p>{{vehicle.officialName}}</p>
                </div>
                <div class="form-field" *ngIf="isEditMode">
                    <label for="tbOfficialName">Марка/Модель:</label>
                    <input type="text" id="tbOfficialName" #tbOfficialName
                           [value]="vehicle.officialName"
                           (blur)="setOfficialName(tbOfficialName.value)"
                           (keyup.enter)="setOfficialName(tbOfficialName.value)" />
                </div>

                <div class="form-field" *ngIf="!isEditMode">
                    <p>Рег. знак:</p>
                    <p>{{vehicle.licenseNumber}}</p>
                </div>
                <div class="form-field" *ngIf="isEditMode">
                    <label for="tbLicenseNumber">Рег. знак:</label>
                    <input type="text" id="tbLicenseNumber" #tbLicenseNumber
                           [value]="vehicle.licenseNumber"
                           (blur)="setLicenseNumber(tbLicenseNumber.value)"
                           (keyup.enter)="setLicenseNumber(tbLicenseNumber.value)" />
                </div>

                <div class="form-field" *ngIf="!isEditMode">
                    <p>Год выпуска:</p>
                    <p>{{vehicle.yearOfManufacture}}</p>
                </div>
                <div class="form-field" *ngIf="isEditMode">
                    <label for="tbYear">Год выпуска:</label>
                    <input type="number" id="tbYear" #tbYear
                           [value]="vehicle.yearOfManufacture"
                           (keyup.enter)="setYear(tbYear.value)"
                           (change)="setYear(tbYear.value)" />
                </div>

                <div class="form-field" *ngIf="isEditMode || vehicle.description">
                    <p>Описание:</p>
                    <app-advanced-editor #aeDescription [text]="vehicle.description" [isEditable]="isEditMode"
                                         [galleries]="allGalleries" (update)="setDescription(aeDescription.text)"></app-advanced-editor>
                </div>

                <div class="form-field">
                    <p>Номинальная проходимость:</p>
                    <app-place-accessibility-selector [value]="vehicle.acceptableAccessibility" [isEditable]="isEditMode"
                                                      (valueChange)="setAcceptableAccessibility($event)"></app-place-accessibility-selector>
                </div>
            </div>
        </div>
        <h2 *ngIf="isGalleryVisible">Галерея</h2>
        <app-gallery *ngIf="isGalleryVisible"
                     [gallery]="vehicle.gallery" [isEditable]="isEditMode"
                     [(selectedImageSmallSizeId)]="gallerySelectedImage"
                     (fileSelected)="galleryFileSelected($event)"
                     (updateRequested)="galleryUpdateRequested()"
                     (deleteConfirmed)="galleryDeleteConfirmed($event)"></app-gallery>
        <div *ngIf="vehicle.addedDate" class="form-field form-field-margin-above">
            <p>Добавлено:</p>
            <p>{{vehicle.addedDate|adaptiveDate}} участником <app-user-link [user]="vehicle.addedBy"></app-user-link></p>
        </div>
        <div *ngIf="vehicle.changedDate" class="form-field form-field-margin-above">
            <p>Изменено:</p>
            <p>{{vehicle.changedDate|adaptiveDate}} участником <app-user-link [user]="vehicle.changedBy"></app-user-link></p>
        </div>
        <app-expander *ngIf="areTripsVisible" title="Поездочки с данным ТС"
                      (isExpandedChange)="tripsExpandedChanged($event)">
            <div class="sub-entities-list">
                <table class="items-presenter">
                    <tr *ngFor="let trip of tripsOfVehicle" class="entity-row selectable-row">
                        <td class="entity-picture-column">
                            <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                <img [src]="getTripImgSrc(trip)" />
                            </a>
                        </td>
                        <td class="general-column hide-small">
                            <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                <p *ngIf="trip.date">{{trip.date | tripsDate}}</p>
                                <p class="title">{{getTripTitle(trip)}}</p>
                            </a>
                        </td>
                        <td class="date-column show-small">
                            <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                <p *ngIf="trip.date" class="centered">{{trip.date | tripsDate}}</p>
                            </a>
                        </td>
                        <td class="name-column show-small">
                            <a class="cell-wrapper" routerLink="/trip/{{trip.id}}">
                                <p>{{getTripTitle(trip)}}</p>
                            </a>
                        </td>
                    </tr>
                </table>
                <app-loader *ngIf="isTripsLoaderVisible"></app-loader>
                <button *ngIf="isLoadMoreTripsVisible" class="button form-field-margin-above" (click)="loadMoreTripsClicked()">Загрузить ещё</button>
            </div>
        </app-expander>
    </section>
    <div class="fog" *ngIf="isOverallLoaderVisible">
        <app-loader></app-loader>
    </div>
</div>
<app-page404 *ngIf="isNotFound"></app-page404>
