<div>
    <table class="items-presenter" *ngIf="selectedUsers && (selectedUsers.length > 0)"
           [class.no-border]="!isEditable">
        <tr class="user-row" *ngFor="let user of selectedUsers">
            <td class="user-picture-column">
                <a class="value-wrapper" routerLink="/user/{{user.id}}">
                    <img [src]="userPicSrc(user.smallSizeProfilePicture, user.profilePictureFormat)" />
                </a>
            </td>
            <td class="name-column">
                <a class="value-wrapper" routerLink="/user/{{user.id}}">
                    <span>{{user.name}}</span>
                    <i class="material-icons">link</i>
                </a>
            </td>
            <td *ngIf="isEditable" class="delete-button-column">
                <button class="button selector-delete-button" (click)="deleteButtonClicked(user)">
                    <i class="material-icons">clear</i>
                    <div class="selector-tooltip selector-tooltip-left selector-button-tooltip">
                        Удалить
                    </div>
                </button>
            </td>
        </tr>
    </table>
    <button *ngIf="isEditable"
            class="button button-std"
            [class.form-field-margin-above]="selectedUsers && (selectedUsers.length > 0)"
            (click)="addButtonClicked()">
        <i class="material-icons">person_add</i>
        <span>Добавить...</span>
    </button>
</div>
