<div class="checkbox-wrapper">
    <!--<i *ngIf="!value" class="material-icons checkbox-checkmark">check_box_outline_blank</i>
    <i *ngIf="value" class="material-icons checkbox-checkmark">check_box</i>-->
    <span class="checkbox-checkplace"
          [class.color-disabled]="!isEnabled"
          [class.clickable-area]="isEnabled && isEditable"
          (click)="onClicked()">
        <span class="checkbox-checkmark"
              *ngIf="value"
              [class.color-disabled]="!isEnabled"></span>
    </span>
    <div class="checkbox-content"
         [class.color-disabled]="!isEnabled"
         [class.clickable-area]="isEnabled && isEditable"
         (click)="onClicked()">
        <ng-content></ng-content>
    </div>
</div>
