.visit-header img {
    width:100px;
    height:80px;
    margin:5px;
    object-fit:cover;
    border-radius:5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

div.visit-header-buttons {
    float:right;
    margin-top:5px;
}
@media only screen and (min-width: 768px) {
    div.visit-header-buttons {
        margin-top:unset;
        position:relative;
        top:32px;
    }
}

div.visit-attributes {
    margin-left: 5px;
}