<div class="uniter">
    <section *ngIf="trip">
        <div class="clearfix">
            <h2 class="allows-float-beside">{{tripName}}</h2>
            <div class="up-right-buttons">
                <button class="button" *ngIf="isEditButtonVisible && (!isEditMode)" (click)="editButtonClicked()">
                    <i class="material-icons">edit</i>
                    <span>Редактировать</span>
                </button>
                <button class="button" *ngIf="isEditMode" (click)="endEditButtonClicked()">
                    <i class="material-icons">subject</i>
                    <span>Режим просмотра</span>
                </button>
                <button class="button button-danger" *ngIf="isEditMode" (click)="deleteButtonClicked()">
                    <i class="material-icons">delete_forever</i>
                    <span>Удалить</span>
                </button>
            </div>
        </div>
        <div class="editor-wrapper">
            <div class="editor-picture-panel">
                <img class="title-picture centered" [src]="titlePicSrc" />
                <button *ngIf="isSelectTitlePicButtonVisible" class="button button-pic-select"
                        (click)="setTitlePicButtonClicked()">
                    <i class="material-icons">search</i>
                    <span>Выбрать заглавную картинку...</span>
                </button>
                <br />
                <p *ngIf="isSelectTitlePicAdviceVisible" class="advice">
                    <i class="material-icons">info</i>
                    <span>Добавьте изображения, чтобы установить заглавную картинку</span>
                </p>
                <button *ngIf="isResetTitlePicButtonVisible" class="button button-pic-select"
                        (click)="resetTitlePicButtonClicked()">
                    <i class="material-icons">clear</i>
                    <span>Сбросить картинку</span>
                </button>
            </div>
            <div class="editor-main-panel">
                <div class="form-field" *ngIf="isEditMode">
                    <label for="tDate">Дата:</label>
                    <input type="date" id="tDate" #tDate
                           [value]="tripDate" (blur)="setDate(tDate.value)"
                           (keyup.enter)="setDate(tDate.value)"
                           (change)="dateChanged(tDate.value)" />
                </div>
                <div class="form-field" *ngIf="(!isEditMode) && (tripDate)">
                    <p>Дата:</p>
                    <p>{{tripDate | tripsDate}}</p>
                </div>

                <div class="form-field" *ngIf="isEditMode">
                    <label for="tbTitle">Название:</label>
                    <div class="field-with-button">
                        <input type="text" id="tbTitle" #tbTitle
                               [value]="trip.title" (blur)="setTitle(tbTitle.value)"
                               (keyup.enter)="setTitle(tbTitle.value)"/>
                        <button class="button" (click)="autoSetTitleClicked()">Авто</button>
                    </div>
                </div>

                <div class="form-field">
                    <p>Участники:</p>
                    <app-users-multi-selector [selectedUsers]="trip.participants" [isEditable]="isEditMode"
                                              (added)="userAdded($event)" (removed)="userRemoved($event)"></app-users-multi-selector>
                </div>

                <div class="form-field">
                    <p>Транспортные средства:</p>
                    <app-vehicles-multi-selector [selectedVehicles]="trip.vehicles" [isEditable]="isEditMode"
                                                 (added)="vehicleAdded($event)"
                                                 (removed)="vehicleRemoved($event)"></app-vehicles-multi-selector>
                </div>

                <div class="form-field" *ngIf="isEditMode || trip.description">
                    <p>Описание:</p>
                    <app-advanced-editor #aeDescription [text]="trip.description" [isEditable]="isEditMode"
                                         [galleries]="allGalleries" (update)="setDescription(aeDescription.text)"></app-advanced-editor>
                </div>
            </div>
        </div>
        <section *ngFor="let visit of trip.visits" class="form-field-margin">
            <div class="clearfix">
                <h2 class="allows-float-beside visit-header">
                    <a *ngIf="visit.place" routerLink="/place/{{visit.place.id}}">
                        <img [src]="getPlacePicture(visit.place)" />
                    </a>
                    <a *ngIf="visit.place" routerLink="/place/{{visit.place.id}}">
                        {{getPlaceName(visit.place)}}
                        <i class="material-icons">link</i>
                    </a>
                    <ng-container *ngIf="!visit.place">{{getPlaceName(visit.place)}}</ng-container>
                </h2>
                <div *ngIf="isEditMode"
                     [class.visit-header-buttons]="visit.place"
                     [class.visit-header-buttons-noplace]="!visit.place">
                    <button class="button space-after" (click)="changeVisitPlaceButtonClicked(visit)">
                        <i class="material-icons">search</i>
                        <span>Изменить место...</span>
                    </button>
                    <button class="button button-danger space-after"
                            (click)="deleteVisitButtonClicked(visit)">
                        <i class="material-icons">delete_forever</i>
                        <span>Удалить</span>
                    </button>
                </div>
            </div>
            <div class="visit-attributes form-field-margin">
                <div>
                    <app-checkbox [value]="visit.withKebab" (valueChange)="setVisitWithKebab(visit, $event)"
                                  [isEditable]="isEditMode">Шашл</app-checkbox>
                </div>
                <div>
                    <app-checkbox [value]="visit.withNightStay" (valueChange)="setVisitWithNightStay(visit, $event)"
                                  [isEditable]="isEditMode">С ночёвкой</app-checkbox>
                </div>
            </div>
            <app-gallery *ngIf="isVisitGalleryVisible(visit)"
                         [gallery]="visit.gallery" [isEditable]="isEditMode"
                         [selectedImageSmallSizeId]="getVisitGallerySelectedPicture(visit)"
                         (selectedImageSmallSizeIdChange)="setVisitGallerySelectedPicture(visit, $event)"
                         (fileSelected)="visitGalleryFileSelected(visit, $event)"
                         (updateRequested)="visitGalleryUpdateRequested(visit)"
                         (deleteConfirmed)="visitGalleryDeleteConfirmed(visit, $event)"></app-gallery>
        </section>
        <div>
            <button class="button" *ngIf="isEditMode" (click)="addVisitButtonClicked()">
                <i class="material-icons">add</i>
                <span>Добавить место...</span>
            </button>
        </div>
        <h2 *ngIf="isTripGalleryVisible">Прочие изображения</h2>
        <app-gallery *ngIf="isTripGalleryVisible"
                     [gallery]="trip.gallery" [isEditable]="isEditMode"
                     [(selectedImageSmallSizeId)]="tripGallerySelectedPicture"
                     (fileSelected)="tripGalleryFileSelected($event)"
                     (updateRequested)="tripGalleryUpdateRequested()"
                     (deleteConfirmed)="tripGalleryDeleteConfirmed($event)"></app-gallery>
        <div *ngIf="trip.addedDate" class="form-field form-field-margin-above">
            <p>Добавлено:</p>
            <p>{{trip.addedDate|adaptiveDate}} участником <app-user-link [user]="trip.addedBy"></app-user-link></p>
        </div>
        <div *ngIf="trip.changedDate" class="form-field form-field-margin-above">
            <p>Изменено:</p>
            <p>{{trip.changedDate|adaptiveDate}} участником <app-user-link [user]="trip.changedBy"></app-user-link></p>
        </div>
    </section>
    <div class="fog" *ngIf="isOverallLoaderVisible">
        <app-loader class="centered"></app-loader>
    </div>
</div>
<app-page404 *ngIf="isNotFound"></app-page404>