<div class="selector-frame"
     [class.selector-frame-editable]="isEditable">
    <div *ngFor="let option of innerChoices"
         class="selector-option"
         [class.selector-option-editable]="isEditable"
         [style.color]="option.isSelected ? option.choice.colorWhenSelected : option.choice.colorWhenNotSelected"
         [style.background-color]="option.isSelected ? option.choice.backgroundColorWhenSelected : option.choice.backgroundColorWhenNotSelected"
         (click)="selectOption(option.choice)">
        <div class="centered">
            <span *ngIf="option.choice.showBigText" class="selector-big-text"
                  [class.space-after]="option.isSmallTextVisible">{{option.choice.bigText}}</span>
            <span *ngIf="option.isSmallTextVisible" class="selector-small-text"
                  [class.single]="!option.choice.showBigText"
                  [class.with-big]="option.choice.showBigText">{{option.choice.smallText}}</span>
        </div>
        <div *ngIf="option.tooltip" class="selector-tooltip"
             [class.selector-tooltip-left]="isTooltipToLeft">{{option.tooltip}}</div>
    </div>
    <p *ngIf="showDescription && (!isEditable)"
       class="selector-description-inline">{{selectedValue.description}}</p>
    <div *ngIf="showDescription && isEditable"
         id="underTextHelper" class="flex-container">
        <p class="fill-parent-horizontally">{{selectedValue.description}}</p>
    </div>
</div>
