<div class="user-link-container">
   <a class="inline-ref" *ngIf="user"
      routerLink="/user/{{user.id}}">
      <img *ngIf="showProfilePicture" class="small-profile-pic shifted-down space-after" [src]="userPicSrc(user.smallSizeProfilePicture, user.profilePictureFormat)"/>
      <span>{{user.name}}</span>
   </a>
   <img *ngIf="(!user) && showProfilePicture" class="small-profile-pic shifted-down space-after" [src]="userPicSrc(null, null)"/>
   <span *ngIf="!user" class="force-normal-font">[ДАННЫЕ УДАЛЕНЫ]</span>
</div>
