<div class="uniter">
    <section>
        <div class="clearfix">
            <h1 class="allows-float-beside">Транспортные средства</h1>
            <button class="button up-right-button" (click)="addButtonClicked()">
                <i class="material-icons">add</i>
                <span>Добавить...</span>
            </button>
        </div>
        <table class="items-presenter" *ngIf="vehicles && (vehicles.length > 0)">
            <thead>
                <th></th>
                <th class="name-column show-middle">Название</th>
                <th class="users-column show-middle">Владелец</th>
                <th class="show-middle">Н.П.</th>
            </thead>
            <tr class="entity-row selectable-row" *ngFor="let vehicle of vehicles">
                <td class="entity-picture-column">
                    <a class="cell-wrapper" routerLink="/vehicle/{{vehicle.id}}">
                        <img [src]="getMiniatureImgSrc(vehicle)" />
                    </a>
                </td>
                <td class="general-column hide-middle">
                    <a class="cell-wrapper" routerLink="/vehicle/{{vehicle.id}}">
                        <p class="title">{{getVehicleName(vehicle)}}</p>                        
                        <div>
                            <app-user-link [user]="vehicle.owner" [showProfilePicture]="vehicle.owner"></app-user-link>
                        </div>
                        <app-place-accessibility-selector [value]="vehicle.acceptableAccessibility"
                                                          [isEditable]="false" [isShortView]="true"></app-place-accessibility-selector>
                    </a>
                </td>
                <td class="name-column show-middle">
                    <a class="cell-wrapper" routerLink="/vehicle/{{vehicle.id}}">
                        <p>{{getVehicleName(vehicle)}}</p>
                    </a>
                </td>
                <td class="users-column show-middle">
                    <a class="cell-wrapper" routerLink="/vehicle/{{vehicle.id}}">
                        <app-user-link [user]="vehicle.owner" [showProfilePicture]="vehicle.owner"></app-user-link>
                    </a>
                </td>
                <td class="enum-column show-middle">
                    <a class="cell-wrapper" routerLink="/vehicle/{{vehicle.id}}">
                        <app-place-accessibility-selector class="centered" [value]="vehicle.acceptableAccessibility"
                                                          [isEditable]="false" [isShortView]="true"
                                                          [isTooltipToLeft]="true"></app-place-accessibility-selector>
                    </a>
                </td>
            </tr>
        </table>
        <p class="big-gray-text centered wide-margin-up-down"
           *ngIf="isNotFoundVisible">Не найдено</p>
        <app-loader *ngIf="isLoaderVisible"></app-loader>
    </section>
    <div class="fog" *ngIf="isOverallLoaderVisible">
        <app-loader class="centered-both"></app-loader>
    </div>
</div>