<div *ngIf="isVisible" class="modal-popup-background">
    <div class="picker-popup">
        <h3 class="pickermargin">Выберите картинку из галереи</h3>
        <div id="imagesScrollableFrame">
            <div *ngFor="let picture of allPictures"
                class="gal-miniature-holder"
                [class.gal-selected]="picture == selectedPicture"
                (click)="onClick(picture)"
                (dblclick)="onSelectClicked()">
                <img [src]="getImageSrc(picture.smallSizeId)"
                     class="gal-miniature-img centered-both" />
            </div>
        </div>
        <div class="clearfix">
            <button class="button button-std pickerbutton-right" (click)="onCancelClicked()">Отмена</button>
            <button class="button button-std pickerbutton-right" (click)="onSelectClicked()">Выбрать</button>
        </div>
    </div>
</div>
